<header>
  <div class="d-flex">
    <div class="my mr-md-auto">
      <div class="logo">
        <a class="logo-link" routerLink="/">
          The excellent App
        </a>
      </div>
    </div>

    <div class="my mr-md-auto" *ngIf="isLoggedIn$ | async as isLoggedIn">
      <div *ngIf="!isLoggedIn">
        <a class="btn btn-outline-primary m-2" routerLink="'/register'"
          >Register</a
        >
        <a class="btn btn-primary m-2" routerLink="'/login'">Login</a>
      </div>

      <div class="settings" *ngIf="isLoggedIn">
        <a routerLink="'/settings'">Settings</a>
      </div>
    </div>
  </div>
  <nav class="row">
    <div class="col-12">
      <a class="flex-item p-2 text-dark" routerLink="/blog">Blog</a>
      <a class="flex-item p-2 text-dark" routerLink="/getting-started"
        >Getting started</a
      >
      <a class="flex-item p-2 text-dark" routerLink="/courses">Courses</a>
      <a class="flex-item p-2 text-dark" routerLink="/books">Books</a>
    </div>
  </nav>
</header>
